# SQLX
DATABASE_URL=postgres://postgres:changeme@localhost:5433/pg-stribog-dev

# CORS AND RATE LIMITING
FRONTEND_URL=http:localhost
INTERNAL_CORS_ORIGINS=*
PUBLIC_CORS_ORIGINS=*
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_PERIOD_SECS=60
REQUEST_TIMEOUT_SECS=10

# LOGGING
RUST_BACKTRACE=1
RUST_LOG=debug
APP_ENV=development

# INTERNAL API
API_KEY=```openssl rand -base64 32 | tr -d '/+' | cut -c1-32```

# JWT
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----"

JWT_PUBLIC_KEY = "-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----"